.blog .site-main {
max-width: 65%;
padding-left: 7rem;

.read-more {
  color: $fc_redbrand;
  text-decoration: none;
  font-family: 'open sans';
  font-weight: 700;
}

}


.entry-header {
  width: 80%;
  padding-top: 3rem;

}

.entry-title a {
  color: $fc_redbrand;
  text-decoration: none;
  font-family: 'overlock';
  font-size: 1.8rem;
}

.entry-meta {
  color: $fc_lightgrey;
  font-family: 'open sans';
  font-weight: 100;

}

.entry-content {
  color: $fc_medgrey;
  font-family: 'overlock';
  width: 100%;
  font-weight: 100;

  p{
    font-family: 'open sans';
  }
}
