$fc_redbrand: #db272a;
$fc_brownbrand: #400c0d;
$fc_lightgrey: #a1a1a1;
$fc_medgrey: #808080;
$fc_darkgrey: #333333;
$fc_brandblack: #222222;


$bg_offwhite:  #fafafa;
$bg_white: #ffffff;


$brand_border: 1px solid #e1e1e1;

.site-footer {
background-color: $fc_darkgrey;
position: absolute;
width: 100vw;
}

.site-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $fc_brandblack;
}

.footer-logo {
  padding-top: 2rem;
}

.footer-contact {
list-style-type: none;
  color: white;
  h3 {
    padding-left: 11px;
  }

  li {
    margin: 1rem;
    font-family: 'open sans';
    font-size: .9rem;
    font-weight: lighter;
    text-decoration: none;


  }
}

.footer-business {
  list-style-type: none;
  overflow: hidden;
  color: white;
  margin-right: 5rem;

  h3 {
    padding-left: 11px;
  }

  li {
    margin: 1rem;
    font-family: 'open sans';
    font-size: .9rem;
    font-weight: lighter;

    .weekday {
      font-weight: bold;
    }
  }


}

.footer-logo {
  img {
    margin-top: 3rem;
    margin-left: 6rem;
  }
}
#footer-title {
  color: $fc_medgrey;
  font-family: 'overlock';
  text-transform: uppercase;
  font-weight: lighter;
}

.copyright {
  background-color: #333;
  line-height: 3rem;
  text-align: center;
  color: $bg_white;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: 'open sans';
}
