/**variables**/

$fc_redbrand: #db272a;
$fc_brownbrand: #400c0d;
$fc_lightgrey: #a1a1a1;
$fc_medgrey: #808080;
$fc_darkgrey: #333333;
$fc_brandblack: #222222;


$bg_offwhite:  #fafafa;
$bg_white: #ffffff;


$brand_border: 1px solid #e1e1e1;


/** **/
.site-header {
  background-color: $bg_offwhite;
  padding-top: 2.4rem;
}

.site-branding {
  display: flex;
  justify-content: space-between;
  border: $brand_border;
  background-color: $bg_white;
  align-items:center;
  width: 100vw;


}

.social ul {
  list-style: none;
  display: flex;


  li {
    padding: 1rem;
    color: $fc_medgrey;
    margin-top: 1rem;
    font-size: 14px;

  }
}

.site-branding .logo img {
    width: 300px;
    margin-left: 5rem;

  }

  .search-nav {
    display: flex;
    padding-left: 6rem;
    background-color: white;
    width: 100vw;
    box-shadow:0 2px 3px 0 rgba(150,150,150,.25);
    font-family: 'open sans';
    line-height: 1rem;

    li {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }


  #searchform {

   width: 80%;
     input {
       outline: none;
       border: none;
       background-color: transparent;
       text-transform: uppercase;
       font-family: 'open sans';
       font-weight: 100;

       }
  }

  .search-icon {
    background: transparent;
    border: none;
    text-decoration: none;
    box-shadow: none;
    i.fa.fa-search {
      font-size: 1.2rem;
      color: $fc_medgrey;
    }
  }

}


.main-navigation .current-menu-item li a{
  color: $fc_brownbrand;
  text-decoration: underline;
  text-decoration-color: $fc_redbrand;
}
